<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://java.sun.com/xml/ns/javaee"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
		  http://java.sun.com/xml/ns/javaee/web-app_3_1.xsd"
           version="3.1">

    <servlet>
        <servlet-name>Login Servlet</servlet-name>
        <servlet-class>com.kellie.servlets.LoginServlet</servlet-class>
    </servlet>
     <servlet-mapping>
        <servlet-name>Login Servlet</servlet-name>
        <url-pattern>/mvc/loginInformation</url-pattern>
    </servlet-mapping>

    <listener>
        <listener-class>
            com.kellie.listener.AppContextListener
        </listener-class>
    </listener>


</web-app>
